site_name: Respect\Validation
theme:
  name: readthedocs
  highlightjs: false

extra_css:
  - css/pygments.css

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.highlight:
      use_pygments: true
      pygments_style: default
      pygments_lang_class: true
      extend_pygments_lang:
        - name: php
          lang: php
          options:
            startinline: true
